<?php

/*
 * Fill in this file and rename it Settings.php before running the tests.
 */

define('TEST_DB_HOST', '');
define('TEST_DB_NAME', '');
define('TEST_DB_USER', '');
define('TEST_DB_PASSWORD', '');
